/*

Spritemate stylesheet


 */

:root {
  --red: #e6007e;
  --blue: #00b9ee;
  --icon_outline: #111111;
  --inactive_text: #aaaaaa;
  --active_text: #ffffff;
}

body,
html,
p,
div {
  font-family: "Quicksand", sans-serif;
  margin: 0;
}

p {
  margin: 8px;
  line-height: 160%;
}

a {
  text-decoration: none;
  color: var(--blue);
}

a:hover {
  color: var(--red);
}

body,
html {
  background-color: #111111;
  color: #33bb33;

  background: radial-gradient(black 25%, transparent 16%) 0 0,
    radial-gradient(black 25%, transparent 16%) 8px 8px,
    radial-gradient(rgba(255, 255, 255, 0.1) 25%, transparent 20%) 0 1px,
    radial-gradient(rgba(255, 255, 255, 0.1) 25%, transparent 20%) 8px 9px;
  background-color: #282828;
  background-size: 16px 16px;

  /* prevent text selection on page when double clicking anywhere */
  -webkit-user-select: none; /* webkit (safari, chrome) browsers */
  moz-user-select: none; /* mozilla browsers */
  khtml-user-select: none; /* webkit (konqueror) browsers */
  -ms-user-select: none; /* IE10+ */
}

/* Remove focus outline from all elements */
*:focus {
  outline: none !important;
}

body:focus,
html:focus {
  outline: none !important;
}

h1 {
  font-size: 160%;
  color: var(--blue);
  text-align: center;
  margin-bottom: 0px;
}

h2 {
  font-size: 110%;
  color: var(--blue);
  text-align: center;
  margin: 0px 0px 12px 0px;
}

ol {
  counter-reset: item;
}

ol li {
  display: block;
}

ol li:before {
  content: counters(item, ".") ".";
  counter-increment: item;
  padding-right: 16px;
  margin-left: -20px;
}

#help h1,
#help h2 {
  text-align: left;
}

legend {
  font-size: 100%;
  color: var(--blue);
  padding: 0px 20px 0px 20px;
}

fieldset {
  margin-bottom: 12px;
  border-color: rgba(50, 50, 50, 1);
  background-color: rgba(0, 0, 0, 0.5);
}

table {
  width: 100%;
}

td,
th {
  padding: 8px;
  margin: 4px 0px 4px 0px;
  text-align: left;
}

tr:nth-child(even) {
  background-color: #222222;
}

fieldset button {
  float: right;
}

fieldset p {
  margin: 0px;
  padding: 0px;
}

fieldset .right {
  float: right;
  width: 200px;
}


canvas {
  display: block;
  margin: 0px;
  padding: 0px;
  image-rendering: optimizeSpeed; /* Older versions of FF          */
  image-rendering: -moz-crisp-edges; /* FF 6.0+                       */
  image-rendering: -webkit-optimize-contrast; /* Safari                        */
  image-rendering: -o-crisp-edges; /* OS X & Windows Opera (12.02+) */
  image-rendering: pixelated; /* Awesome future-browsers       */
  -ms-interpolation-mode: nearest-neighbor; /* IE                            */
}

.center {
  text-align: center;
}

.spacer {
  height: 40px;
}

img.center {
  display: block;
  margin: 0 auto;
}

#settings_fieldset{

}

.settings_colorfield {
  min-width: 0px;
  max-width: 140px;
  margin: 8px;
  border: 1px dotted #888888;
  border-radius: 8px;
  padding: 8px;
  float:left;
}

.settings_colorfield input{
  min-width: 0;
  max-width: 100px;
  padding: 8px 8px;
  margin: 0;
  border: none;
}

#selected_colors {
  width: 400px;
  float: right;
  line-height: 26px;
}

.settings_selected_color {
  width: 5px;
  height: 10px;
  padding: 8px;
  float: left;
}

.settings_color {
  width: 30px;
  height: 30px;
  border-radius: 8px;
  float: left;
}



#info {
  padding: 12px;
  text-align: center;
}

#help {
  padding: 12px;
}

#help-container {
  padding: 12px;
  height: 400px;
  overflow: auto;
  margin: 24px 0px 24px 0px;
}

#editor {
  cursor: crosshair;
}

#menu {
  width: 54px;
}

#statusbar {
  width: 100%;
  position: fixed;
  bottom: 0px;
  height: 20px;
  padding: 6px 12px 6px 12px;
  color: var(--blue);
  background: -webkit-linear-gradient(
    #181818,
    #111111
  ); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#181818, #111111); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(
    #181818,
    #111111
  ); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#181818, #111111); /* Standard syntax */
  z-index: -100;
  font-size: 110%;
}

#button-row {
  text-align: center;
}

#preview {
}

.editor_ui {
}

#palette {
  cursor: pointer;
}

#palette_spritecolors {
  margin-top: 12px;
  font-size: 70%;
}


.colors p {
  margin: 0px;
  margin-bottom: 2px;
  padding: 0px;
}

#palette_all_colors {
  clear: both;
}

.palette_color_item {
  width: 40px;
  height: 20px;
  margin: auto;
  cursor: pointer;
  float: left;
}

.palette_color_item_active_colors {
  width: 40px;
  height: 20px;
  margin: auto;
  cursor: pointer;
  margin-bottom: 2px;
  margin-top: 8px;
}

.palette_highlight_text {
  color: var(--blue);
}

.palette_color_item_selected {
  outline-style: solid;
  outline-width: 2px;
  outline-color: var(--blue);
}

#color_transparent {
  background-color: yellow;
}

.icon {
  width: 50px;
  height: 50px;
  display: block;
  margin: 0 auto;
  transition: transform 0.15s ease, filter 0.15s ease;

  image-rendering: optimizeSpeed; /* Older versions of FF          */
  image-rendering: -moz-crisp-edges; /* FF 6.0+                       */
  image-rendering: -webkit-optimize-contrast; /* Safari                        */
  image-rendering: -o-crisp-edges; /* OS X & Windows Opera (12.02+) */
  image-rendering: pixelated; /* Awesome future-browsers       */
  -ms-interpolation-mode: nearest-neighbor; /* IE                            */
}

.iconset /* vertical menu bar */ {
  float: left;
  padding: 1px 2px 1px 2px;
  cursor: pointer;
  margin: 0px 0px 0px 0px;
}

.icontext {
  color: rgba(255, 255, 255, 1);
  font-size: 70%;
  text-transform: uppercase;
  text-align: center;
  margin: 0px;
  position: relative;
  top: -5px;
  height: 8px;
  transition: transform 0.15s ease, filter 0.15s ease;
}

.icon-hover {
  background: transparent;
  transition: 0.25s ease background;
  border-radius: 4px;
}

.icon-hover:hover .icon,
.icon-hover:hover .icontext,
.icon-active .icon,
.icon-active .icontext {
  transform: translateY(-2px);
  filter: drop-shadow(0 3px 6px rgba(0, 0, 0, 0.8));
}

.icon-hover:hover {
  background: rgba(90, 90, 90, 0.5);
}

.icon-active {
  background: rgba(90, 90, 90, 0.5);
}

.window_menu_icon_area /* zoom icons */ {
  margin-right: 10px;
  padding-right: 10px;
  float: left;
  border-right: 1px solid rgba(0, 0, 0, 0.3);
}

.icon-right {
  float: right;
}

#preview-canvas {
  text-align: center;
}

.window_menu {
  min-height: 30px;
  padding-bottom: 8px;
  image-rendering: optimizeSpeed; /* Older versions of FF          */
  image-rendering: -moz-crisp-edges; /* FF 6.0+                       */
  image-rendering: -webkit-optimize-contrast; /* Safari                        */
  image-rendering: -o-crisp-edges; /* OS X & Windows Opera (12.02+) */
  image-rendering: pixelated; /* Awesome future-browsers       */
  -ms-interpolation-mode: nearest-neighbor; /* IE                            */
}

/*

  Old Spritelist Start

 */

.sprite_in_list {
  margin: 0px;
  padding: 0px;
  display: inline-block;
  vertical-align: top;
}

.sprite_in_list:hover {
  border: 1px dotted var(--red);
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.sprite_in_list_border {
  border: 1px dotted #555555;
  box-sizing: border-box;
}

.sprite_in_list_selected {
  border: 1px dotted var(--blue);
  box-sizing: border-box;
}

.sprite_in_list:active {
  /* shadow when dragging a sprite in the sprite list */
  background-color: white;
  box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.6);
}

.sprite_in_list_container {
  margin: 0px;
  padding: 0px;
  display: inline-block;
  vertical-align: top;
  position: relative;
  cursor: move;
}

.sprite_info_overlay {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  user-select: none;
}

.sprite_info_text {
  color: var(--red);
  font-size: 12px;
  line-height:12px;
  margin: 6px;
  font-weight: bold;
  padding: 2px;
  text-shadow:
    -1px -1px 0 #000,
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
}

#spritelist {
  margin: 0px;
  padding: 0px;
  overflow-y: auto;
  overflow-x: hidden;
  line-height: 0px;
  padding-bottom: 20px;
  max-height: calc(100vh - 200px);
}

/*

  Old Spritelist End

 */

.sprite_layer {
  background-color: #080808;
  width: 100%;
  border: 1px solid transparent;
  border-bottom: 1px dotted #555555;
}

.sprite_layer:hover {
  border: 1px dotted var(--red);
}

.sprite_layer:active {
  border: 1px dotted white;
}

.sprite_layer canvas {
  margin: 2px;
}

.sprite_layer_canvas {
  float: left;
  margin-right: 12px;
}

.sprite_layer_info {
  float: left;
  width: 40%;
  color: #888888;
  font-size: 80%;
}

.sprite_layer_selected {
  border: 1px dotted var(--blue);
}

#info fieldset {
  border: 1px dotted #333333;
  font-size: 120%;
  padding: 20px 20px 20px 20px;
  margin: 24px 0px 24px 0px;
  overflow: auto;
  height: 300px;
  text-align: left;
  color: #bbbbbb;
}

#info fieldset legend {
  text-align: center;
}

#info fieldset p {
  padding-bottom: 20px;
}

#info fieldset h1 {
  font-size: 110%;
  margin: 4px;
  margin-top: 20px;
  font-weight: bold;
}

#info fieldset h2 {
  text-align:left;
  margin-top: 20px;
  margin-bottom: 0px;
  font-weight: bold;
  color: white;
}



.icon-inputfield {
  float: left;
  image-rendering: optimizeSpeed; /* Older versions of FF          */
  image-rendering: -moz-crisp-edges; /* FF 6.0+                       */
  image-rendering: -webkit-optimize-contrast; /* Safari                        */
  image-rendering: -o-crisp-edges; /* OS X & Windows Opera (12.02+) */
  image-rendering: pixelated; /* Awesome future-browsers       */
  -ms-interpolation-mode: nearest-neighbor; /* IE                            */
}

#dialog-confirm {
  visibility: hidden;
  text-align: center;
}

.confirm-button {
  border: 2px solid var(--blue);
  background: black;
}

.confirm-button:hover {
  border: 2px solid var(--blue);
  background: black;
  color: white;
  font-size: 100%;
  margin: 4px;
}

.confirm-button:focus {
  border: 2px solid var(--blue);
  background: black;
  color: white;
  font-size: 100%;
  margin: 4px;
}

/* --- CSS ONLY MENU --- */

#menubar {
  background-color: #333;
}

#menubar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#menubar li {
  float: left;
}

#menubar li a,
#menubar .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#menubar li a:hover,
#menubar .dropdown:hover .dropbtn {
  background-color: var(--blue);
  color: white;
}

#menubar li.dropdown {
  display: inline-block;
}

#menubar .dropdown-content {
  display: none;
  position: absolute;
  background-color: #333;
  min-width: 240px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

#menubar .dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

#menubar .dropdown-content a:hover {
  background-color: var(--blue);
}

#menubar .dropdown:hover .dropdown-content {
  display: block;
}

/* Submenu styles */
#menubar .submenu-item {
  position: relative;
}

#menubar .submenu-item > a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  position: relative;
  cursor: pointer;
}

#menubar .submenu-item > a:hover {
  background-color: var(--blue);
}

#menubar .submenu-arrow {
  position: absolute;
  right: 10px;
  font-size: 14px;
  font-weight: bold;
}

#menubar .submenu-content {
  display: none;
  position: absolute;
  left: 100%;
  top: 0;
  background-color: #333;
  min-width: 240px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1001;
}

#menubar .submenu-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

#menubar .submenu-content a:hover {
  background-color: var(--blue);
}

#menubar .submenu-item:hover > .submenu-content {
  display: block;
}

/* Hotkey documentation in a menu item */
#menubar .hotkey {
  position: absolute;
  right: 9px;
  color: rgba(200, 200, 200, 0.5);
}

/* Label documentation in a menu item */
#menubar .label {
  padding: 4px 4px 4px 14px;
  color: rgba(200, 200, 200, 0.5);
}

/* Line between menu items */
#menubar hr {
  border: none;
  height: 1px;
  background: rgba(200, 200, 200, 0.15);
}

#menubar-filename {
  float: right;
}

#menubar-filename-input {
  background-color: #222;
  color: var(--blue);
  border: 1px solid #444;
  padding: 4px 8px;
  font-family: 'Quicksand', sans-serif;
  font-size: 14px;
  border-radius: 4px;
  width: 150px;
}

#menubar-filename-input:focus {
  outline: none;
  border-color: var(--blue);
  background-color: #2a2a2a;
}

#menubar-filename-input:hover {
  border-color: #666;
}

#menubar-filename-input.error {
  border-color: #ff4444;
  background-color: #331111;
}

#spritesheet-rows{
  min-width:0px;
  width: 60px;
  border-radius: 8px;
}

#spritesheet-border{
  min-width:0px;
}

/* --- ANIMATION CONTROLS --- */

#animation-canvas {
  display: flex;
  justify-content: center;
  align-items: center;
}

#animation-canvas canvas{
  padding: 8px;
  border: 1px dotted #444444;
}


.animation-control-row {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  gap: 8px;
  justify-content: center;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  color: var(--active_text);
  font-size: 14px;
}

.animation-control-row input[type="number"] {
  background-color: #222;
  color: var(--active_text);
  border: 1px solid #444;
  padding: 6px 8px;
  font-family: 'Quicksand', sans-serif;
  font-size: 14px;
  border-radius: 4px;
  width: 80px;
  min-width: 80px;
}

.animation-control-row input[type="number"]:focus {
  outline: none;
  border-color: var(--blue);
  background-color: #2a2a2a;
}

.animation-control-row input[type="number"]:hover {
  border-color: #666;
}

.animation-radio-group {
  display: flex;
  gap: 16px;
  align-items: center;
}

.animation-radio-group input[type="radio"] {
  cursor: pointer;
  accent-color: var(--blue);
  min-width: 0;
}

.animation-button {
  background-color: var(--blue);
  color: #000;
  border: none;
  padding: 8px 24px;
  font-family: 'Quicksand', sans-serif;
  font-size: 14px;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.animation-button:hover {
  background-color: var(--red);
}

.animation-button:active {
  transform: scale(0.98);
}

/* --- END CSS ONLY MENU --- */

/* --- CUSTOM TOOLTIP --- */

#custom-tooltip {
  position: fixed;
  background: rgba(20, 20, 20, 0.95);
  color: var(--blue);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 12px;
  font-family: 'Quicksand', sans-serif;
  pointer-events: none;
  z-index: 10000;
  opacity: 0;
  transition: opacity 0.15s ease-in-out;
  white-space: nowrap;
  border: 1px solid rgba(0, 185, 238, 0.3);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
}

#custom-tooltip.visible {
  opacity: 1;
}

/* --- END CUSTOM TOOLTIP --- */

/* --- PLAYFIELD --- */

.playfield-color-palette {
  display: inline-flex;
  gap: 2px;
  margin-top: 2px;
}

.playfield-color-square {
  width: 20px;
  height: 20px;
  cursor: pointer;
  border: 1px solid transparent;
  box-sizing: border-box;
  image-rendering: pixelated;
}

.playfield-color-square:hover {
  border: 1px solid #888;
}

.playfield-color-selected {
  border: 1px solid var(--blue) !important;
}

#playfield-canvas-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 10px;
  overflow: auto;
}

#playfield {
  background-color: #1a1a1a;
  cursor: crosshair;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  border: 1px solid #333;
}

.playfield-toolbar {
  display: flex;
  align-items: center;
  gap: 16px;
  width: 100%;
}

.playfield-toolbar-section {
  display: flex;
  gap: 8px;
  align-items: center;
}

.playfield-button,
.icon-button {
  background-color: var(--blue);
  color: #000;
  border: none;
  padding: 6px 16px;
  font-family: 'Quicksand', sans-serif;
  font-size: 13px;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.playfield-button:hover,
.icon-button:hover {
  background-color: var(--red);
}

.playfield-button:active,
.icon-button:active {
  transform: scale(0.98);
}

.window-control-panel {
  padding: 16px;
  background-color: #1a1a1a;
  border-top: 1px solid #333;
  margin-top: 8px;
}

.window-control-panel.inactive {
  opacity: 0.33;
  pointer-events: none;
}

.playfield-control-row {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  gap: 8px;
  color: var(--active_text);
  font-size: 14px;
}

.playfield-control-row label {
  min-width: fit-content;
  display: flex;
  align-items: center;
  gap: 6px;
}

.playfield-control-row input[type="text"],
.playfield-control-row input[type="number"] {
  background-color: #222;
  color: var(--active_text);
  border: 1px solid #444;
  padding: 6px 8px;
  font-family: 'Quicksand', sans-serif;
  font-size: 14px;
  border-radius: 4px;
  width: 80px;
  min-width: 80px;
}

.playfield-sprite-name {
  color: var(--active_text);
}

.playfield-control-row input[type="text"]:focus,
.playfield-control-row input[type="number"]:focus {
  outline: none;
  border-color: var(--blue);
  background-color: #2a2a2a;
}

.playfield-control-row input[type="text"]:hover,
.playfield-control-row input[type="number"]:hover {
  border-color: #666;
}

.playfield-scanlines {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1000;
  background: repeating-linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.4) 0px,
    rgba(0, 0, 0, 0.4) 1px,
    transparent 1px,
    transparent 2px
  );
}

.playfield-control-row input[type="checkbox"] {
  cursor: pointer;
  accent-color: var(--blue);
  width: 16px;
  height: 16px;
}

.playfield-canvas-wrapper {
  position: relative;
  display: inline-block;
}

.playfield-selection-overlay {
  position: absolute;
  border: 1px dotted var(--blue);
  box-sizing: border-box;
  pointer-events: none;
}

/* --- END PLAYFIELD --- */
