

body
{
  background-color: #444444;
  color: #33bb33;
  font-size: 100%;
  font-family: 'Quicksand', sans-serif;

  background:
  radial-gradient(black 25%, transparent 16%) 0 0,
  radial-gradient(black 25%, transparent 16%) 8px 8px,
  radial-gradient(rgba(255,255,255,.1) 25%, transparent 20%) 0 1px,
  radial-gradient(rgba(255,255,255,.1) 25%, transparent 20%) 8px 9px;
  background-color:#282828;
  background-size:16px 16px;
}

canvas
{
    image-rendering: optimizeSpeed;             /* Older versions of FF          */
    image-rendering: -moz-crisp-edges;          /* FF 6.0+                       */
    image-rendering: -webkit-optimize-contrast; /* Safari                        */
    image-rendering: -o-crisp-edges;            /* OS X & Windows Opera (12.02+) */
    image-rendering: pixelated;                 /* Awesome future-browsers       */
    -ms-interpolation-mode: nearest-neighbor;   /* IE                            */
}

#editor
{
  cursor: crosshair;
}

#menu
{
  display: block;
  height: 70px;
  margin: 8px;
  box-shadow: 0px 5px 6px 2px rgba(0,0,0,.3);

  background: -webkit-linear-gradient(#444444, #111111); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#444444, #111111); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#444444, #111111); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#444444, #111111); /* Standard syntax */
  background: #121212 url(images/ui-bg_gloss-wave_16_121212_500x100.png) 50% -20px repeat-x;
}

#preview
{
  width: 100%;
}

.editor_ui
{
  height: 40px;
  color: #ffbb00;
  padding: 6px;
}

#palette
{
  cursor: pointer;
}


.icon
{
  width: 50px;
  height: 50px;
  display: block;
  margin: 0 auto;

    image-rendering: optimizeSpeed;             /* Older versions of FF          */
    image-rendering: -moz-crisp-edges;          /* FF 6.0+                       */
    image-rendering: -webkit-optimize-contrast; /* Safari                        */
    image-rendering: -o-crisp-edges;            /* OS X & Windows Opera (12.02+) */
    image-rendering: pixelated;                 /* Awesome future-browsers       */
    -ms-interpolation-mode: nearest-neighbor;   /* IE                            */
}

.iconset
{
  float: left;
  padding: 0px 4px 0px 4px;
  cursor: pointer;
}

.icontext
{
  color: rgba(255,255,255,0.7);
  font-size: 60%;
  text-transform: uppercase;
  text-align: center;
  margin: 0px;

}

.icon-spacer
{
  height: 58px;
  image-rendering: optimizeSpeed;             /* Older versions of FF          */
  image-rendering: -moz-crisp-edges;          /* FF 6.0+                       */
  image-rendering: -webkit-optimize-contrast; /* Safari                        */
  image-rendering: -o-crisp-edges;            /* OS X & Windows Opera (12.02+) */
  image-rendering: pixelated;                 /* Awesome future-browsers       */
  -ms-interpolation-mode: nearest-neighbor;   /* IE                            */
}



.sprite
{
 background-color: red;
}

.sprite.ui-dialog-content
{
  padding: 0px;
}

.tools.ui-dialog-content
{
  padding: 0px;
}

.colors.ui-dialog-content
{
  padding: 0px;
}


.preview.ui-dialog-content
{
  padding: 0px;
}

.sprite_in_list
{
  margin: 2px;
}

.sprite_in_list_selected
{
  border: 2px solid #e6007e;
  margin: 0px;
}

#icon-list-new
{
  margin: 2px;
}

.ui-dialog-titlebar
{
  font-family: 'Quicksand', sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 60%;
  text-align: center;
  background-color: #ff8800;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}



.no-close .ui-dialog-titlebar-close 
{
  display: none;
}

.ui-widget.ui-widget-content
{
  border: 0px;
  box-shadow: 0px 5px 6px 2px rgba(0,0,0,.3);
}

.ui-widget-header
{
  border: 0px;
}

.ui-dialog 
{
  padding: 0px;
}

.ui-dialog :active 
{
  border: 0px;
}

.ui-dialog .ui-dialog-titlebar 
{
    padding: 0px;
}





